.about-us-area {
    .about-text-area {
        .section-subtitle {
            span {
                display: inline-block;
                text-transform: capitalize;
                color: #000000;
                font-size: 16px;
                line-height: 20px;
                position: relative;
                &::before{
                    position: absolute;
                    content: "";
                    top: 50%;
                    left: 120%;
                    height: 2px;
                    width: 38px;
                    background:#10776A;
                }
            }
        }
        .about-section-desc{
            p{
                color: #3A3A3A;
            }
        }

    }
}