/* buttons */
.theme-btn {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-transform: capitalize;
    padding: 3px 20px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    transition: all ease-in 0.4s;
}

.theme-btn-transparent {
    color: #393939;
    background: transparent;

    &:hover {
        color: #fff !important;
        background: #1C1C1C;
    }
}

.theme-btn-primary {
    background: #067164;
    color: #fff;
    text-transform: capitalize;
    padding: 17px 22px;
    border: 1px solid #067164;

    &:hover {
        background: transparent;
        color: #067164;
    }
}

.theme-hidden-border-btn {
    border: 1px solid transparent;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    margin-left: 20px;
    display: inline-block;
    padding: 1px 10px;
    border-radius: 5px;
    color: #1C1C1C;
    transition: all ease-in 0.4s;

    span {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 47px;
        width: 47px;
        border-radius: 50%;
        color: #fff;
        background: #1C1C1C;
        margin-right: 5px;
    }

    &:hover {
        border: 1px solid #067164;
        background: #067164;
        color: #fff;
    }
}

.theme-btn-dark {
    color: #fff !important;
    background: #1C1C1C;
    border-color: #1C1C1C;

    &:hover {
        color: #1C1C1C !important;
        background: #fff;
    }
}

.theme-btn-white {
    background: #fff;
    color: #067164;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    padding: 20px 35px;
    border-radius: 0px;
}

.transparent-btn {
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: #1374EC;
    font-weight: 500;
}

.theme-rounded-btn {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: rgba(19, 116, 236, 0.8);
    text-decoration: none;
    background: #75c7b822;
    padding: 7px 60px;
    border-radius: 22px;

}